In [1]:
# Heroes of Pymoli
import pandas as pd
# p

In [4]:
df  = pd.read_csv('HeroesOfPymoli/Resources/purchase_data.csv')
df.head() 

# 'HeroesOfPymoli/Resources/purchase_data.csv'

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [8]:
df['SN'].nunique()

576

### Total Number of Players is *576*

In [10]:
# Number of Unique Items
df['Item ID'].nunique()

183

### Number of Unique Items *183*

In [20]:
# Average Purchase Price
round(df['Price'].mean(),2)

3.05

In [21]:
# Total Number of Purchases
df['Purchase ID'].count()

780

In [22]:
# Total Revenue
df['Price'].sum()

2379.77

In [34]:
# Percentage and Count of Male Players
# type(df[df['Gender'] == 'Male'].count() )
df[df['Gender'] == 'Male'].count()[0] / df.count()[0] * 100

83.58974358974359

In [35]:
# checking for nulls

In [37]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [56]:
# Percentage and Count of Other / Non-Disclosed
round(df[df['Gender'] == 'Other / Non-Disclosed'].count()[0] 
      / df.count()[0] * 100, 2)

1.92

In [57]:
df_male = df[df['Gender'] == 'Male']
df_female = df[df['Gender'] == 'Female']

In [60]:
df_male['Price'].count()

652

In [62]:
round(df_male['Price'].mean(),2)

3.02

In [ ]:
# remains to be done

# Age Demographics

In [67]:
df['Age'].min()

7

In [68]:
# 4 bins across 7 - 45
pd.cut(df['Age'],4)

0       (16.5, 26.0]
1       (35.5, 45.0]
2       (16.5, 26.0]
3       (16.5, 26.0]
4       (16.5, 26.0]
5       (16.5, 26.0]
6       (35.5, 45.0]
7       (16.5, 26.0]
8       (16.5, 26.0]
9       (26.0, 35.5]
10      (16.5, 26.0]
11      (16.5, 26.0]
12      (16.5, 26.0]
13      (16.5, 26.0]
14      (26.0, 35.5]
15      (16.5, 26.0]
16      (16.5, 26.0]
17      (16.5, 26.0]
18      (16.5, 26.0]
19      (26.0, 35.5]
20      (16.5, 26.0]
21      (16.5, 26.0]
22      (35.5, 45.0]
23      (35.5, 45.0]
24      (26.0, 35.5]
25      (26.0, 35.5]
26     (6.962, 16.5]
27     (6.962, 16.5]
28      (16.5, 26.0]
29      (16.5, 26.0]
           ...
750     (16.5, 26.0]
751    (6.962, 16.5]
752     (16.5, 26.0]
753     (35.5, 45.0]
754     (16.5, 26.0]
755    (6.962, 16.5]
756     (16.5, 26.0]
757     (16.5, 26.0]
758     (16.5, 26.0]
759     (16.5, 26.0]
760     (16.5, 26.0]
761     (35.5, 45.0]
762     (16.5, 26.0]
763     (16.5, 26.0]
764     (16.5, 26.0]
765     (16.5, 26.0]
766     (16.5, 26.0]
767    (6.962, 16.5]
768     (35.5, 45.0]
769    (6.962, 16.5]
770     (26.0, 35.5]
771    (6.962, 16.5]
772     (16.5, 26.0]
773     (16.5, 26.0]
774    (6.962, 16.5]
775     (16.5, 26.0]
776     (16.5, 26.0]
777     (16.5, 26.0]
778    (6.962, 16.5]
779     (16.5, 26.0]
Name: Age, Length: 780, dtype: category
Categories (4, interval[float64]): [(6.962, 16.5] < (16.5, 26.0] < (26.0, 35.5] < (35.5, 45.0]]